In [1]:
import pandas as pd

In [2]:
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-05.parquet -O ../data/raw/rides_2023-05.parquet

--2024-05-07 14:09:35--  https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-05.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 54.230.209.140, 54.230.209.126, 54.230.209.200, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|54.230.209.140|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 58654627 (56M) [binary/octet-stream]
Saving to: ‘../data/raw/rides_2023-05.parquet’

../data/raw/rides_2 100%[===================>]  55.94M  37.9MB/s    in 1.5s

2024-05-07 14:09:37 (37.9 MB/s) - ‘../data/raw/rides_2023-05.parquet’ saved [58654627/58654627]

In [3]:
rides_df = pd.read_parquet('../data/raw/rides_2023-05.parquet')
rides_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2023-05-01 00:33:13,2023-05-01 00:53:01,0.0,7.80,1.0,N,138,43,1,33.8,7.75,0.5,8.60,0.00,1.0,51.65,0.0,1.75
1,1,2023-05-01 00:42:49,2023-05-01 01:11:18,2.0,8.10,1.0,N,138,262,1,35.9,10.25,0.5,9.50,0.00,1.0,57.15,2.5,1.75
2,1,2023-05-01 00:56:34,2023-05-01 01:13:39,2.0,9.10,1.0,N,138,141,1,35.2,10.25,0.5,10.70,6.55,1.0,64.20,2.5,1.75
3,2,2023-05-01 00:00:52,2023-05-01 00:20:12,1.0,8.21,1.0,N,138,140,1,33.1,6.00,0.5,2.24,0.00,1.0,47.09,2.5,1.75
4,1,2023-05-01 00:05:50,2023-05-01 00:19:41,0.0,7.90,1.0,N,138,263,1,31.0,10.25,0.5,9.85,6.55,1.0,59.15,2.5,1.75

In [4]:
rides = rides_df[['tpep_pickup_datetime', 'PULocationID']].copy()
rides.rename(columns={'tpep_pickup_datetime': 'pickup_datetime', 'PULocationID': 'pickup_location_id'}, inplace=True)
rides.head()

      pickup_datetime  pickup_location_id
0 2023-05-01 00:33:13                 138
1 2023-05-01 00:42:49                 138
2 2023-05-01 00:56:34                 138
3 2023-05-01 00:00:52                 138
4 2023-05-01 00:05:50                 138

In [5]:
rides['pickup_datetime'].describe(datetime_is_numeric=True)

count                          3513649
mean     2023-05-16 05:14:07.530527744
min                2002-12-31 23:28:55
25%                2023-05-08 18:57:59
50%                2023-05-16 09:27:26
75%                2023-05-23 14:57:27
max                2023-09-05 18:20:48
Name: pickup_datetime, dtype: object

In [6]:
rides = rides[(rides['pickup_datetime'] >= '2023-05-01') & (rides['pickup_datetime'] < '2023-06-01')]
rides['pickup_datetime'].describe(datetime_is_numeric=True)

count                          3513599
mean     2023-05-16 05:26:10.975884544
min                2023-05-01 00:00:06
25%         2023-05-08 18:57:59.500000
50%                2023-05-16 09:27:21
75%         2023-05-23 14:57:14.500000
max                2023-05-31 23:59:56
Name: pickup_datetime, dtype: object

In [7]:
rides.to_parquet('../data/transformed/validated_rides_2023-05.parquet')