In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
import sys
import os

In [3]:
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), os.pardir)))

In [4]:
from src.data import load_raw_data

In [5]:
rides = load_raw_data(year=2023)

Downloading the file 2023-01
Downloading the file 2023-02
Downloading the file 2023-03
Downloading the file 2023-04
2023-05 file is already in local storage
Downloading the file 2023-06
Downloading the file 2023-07
Downloading the file 2023-08
Downloading the file 2023-09
Downloading the file 2023-10
Downloading the file 2023-11
Downloading the file 2023-12

In [6]:
print(rides.shape)
rides.head()

(38309496, 2)

      pickup_datetime  pickup_location_id
0 2023-01-01 00:32:10                 161
1 2023-01-01 00:55:08                  43
2 2023-01-01 00:25:04                  48
3 2023-01-01 00:03:48                 138
4 2023-01-01 00:10:29                 107

In [7]:
from src.data import transform_raw_data_into_timeseries_data

In [8]:
ts_data = transform_raw_data_into_timeseries_data(rides)

100%|██████████| 265/265 [00:11<00:00, 22.95it/s]

In [9]:
print(ts_data.shape)
ts_data.head()

(2321400, 3)

          pickup_hour  rides  pickup_location_id
0 2023-01-01 00:00:00      0                   1
1 2023-01-01 01:00:00      0                   1
2 2023-01-01 02:00:00      0                   1
3 2023-01-01 03:00:00      0                   1
4 2023-01-01 04:00:00      0                   1

In [10]:
from src.data import transform_timeseries_data_into_features_targets

In [11]:
# input_sequence_length = one month
features, targets = transform_timeseries_data_into_features_targets(ts_data, input_sequence_length=24*28*1, step_size=24)

100%|██████████| 265/265 [01:11<00:00,  3.73it/s]

In [12]:
print(features.shape)
print(targets.shape)

(89305, 674)
(89305,)

In [13]:
tabular_data = features
tabular_data['target_rides_next_hour'] = targets

In [14]:
from src.paths import TRANSFORMED_DATA_DIR

In [15]:
tabular_data.to_parquet(TRANSFORMED_DATA_DIR / 'tabular_data.parquet')